html {
  font-size: 10px; }

body {
  margin: 0;
  background: #a52a2a;
  color: #fff; }

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: linear-gradient(180deg, #192326 0%, #2099d4 100%);
  min-height: 100vh; }
  .hero__inner {
    max-width: 500px;
    text-align: center; }

.clock {
  position: relative;
  width: 11rem;
  height: 11rem;
  background-image: url(../img/clock-bg-usa.png);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 2; }
  .clock--au {
    background-image: url(../img/clock-bg-au.png); }
  .clock--md {
    background-image: url(../img/clock-bg-md.png); }
  .clock__wrapper {
    position: relative;
    margin: 0 2rem; }
    .clock__wrapper--au .clock__shadow {
      left: 0; }
    .clock__wrapper--md .clock__shadow {
      left: 0.5rem; }
  .clock__shadow {
    position: absolute;
    left: -0.5rem;
    top: -0.5rem;
    width: 100%;
    height: 100%;
    background: rgba(1, 1, 1, 0.2);
    border-radius: 50%;
    z-index: 1; }
  .clock__inner {
    position: relative;
    width: 100%;
    height: 100%;
    transform: scale(0.75);
    z-index: 2; }
  .clock__center {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1rem;
    height: 1rem;
    background: black;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: 2; }
  .clock__hand {
    display: none;
    width: 50%;
    height: 0.6rem;
    background: black;
    position: absolute;
    top: 50%;
    right: 50%;
    background: url(../img/clock-hand.png);
    background-size: 100% 100%;
    transform-origin: 100%;
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1); }
    .clock__hand--hours {
      width: 35%; }
    .clock__hand--seconds {
      height: 0.1rem;
      background: red; }
